
$breakpoint-mobile: 768px

@mixin desktop
  @media (min-width: $breakpoint-mobile)
    @content

@mixin mobile
  @media (max-width: $breakpoint-mobile)
    @content

$cross-sell-item-height: 10em

$color-bg: #ddd
$color-page-bg: white
$color-border: #ddd
$color-header: #666

$color-cross-sell-controls-inactive: #aaa
$color-cross-sell-controls-active: #666
